{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for article in articles %}
      <div class="col-md-4 mb-4">
          {% if article.cover %}
            <img src="{{ SITEURL }}/{{ article.cover }}" class="card-img-top" alt="{{ article.title }}">
          {% endif %}
          <hr>
          <hr>
          <hr>
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.summary }}</p>
            <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
